[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
check-manifest = "*"
coverage = "*"
flake8 = "*"
mypy = "==0.670"
mypy-zope = "*"
pytest = "*"
pytest-randomly = "*"
readme-renderer = {extras = ["md"],version = "*"}
tox = "*"
twine = "*"

[packages]
autowired = {editable = true,extras = ["pyramid"],path = "."}

[requires]
python_version = "3.7"
